*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

body{
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100px;
    background-color: rgb(108, 128, 194);
}
.btn{
    background-color: rgb(44, 186, 196); 
    padding: 2vh;
    margin: 1vh;
}
